<!-- "ngIf" yo output data conditionally -->
<div class="container">
    <input type="text" [(ngModel)]="serverName">
    <p id="para" *ngIf="serverCreated; else noServer">Server is created. Server name is {{serverName}}</p>
</div>
<ng-template #noServer>
    <p id="para">No server was created!</p>
</ng-template>

<button id="btn" (click)="onClick()">Add Server</button>

<!-- Styling elements dynamically using "ngStyle" -->
<!-- Applied CSS classes dynamically with ngClass -->
<p id="para" [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{'online': serverStatus === 'online' }">
    Server status is {{getServerStatus()}}
</p>