.item-a {
    display: flex;
    justify-content: space-around;
    background-color: darkorchid;
    max-width: 400px;
}

#btn-a,
#color-a {
    margin: 2px;
    padding: 2px;
}

#span-a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}