.string-intpol {
    align-items: center;
    display: flex;
    width: 900px;
    height: 100px;
    background-color: yellowgreen;
    justify-content: space-around;
}

#wish {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

#btn {
    margin: 10px;
    padding: 10px;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
}