.warning-cont {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: rgb(114, 241, 250);
    width: 300px;
    border-radius: 10px;
}

#warning-btn {
    background-color: #1c1d1c;
    border: none;
    color: white;
    padding: 10px 27px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.warning-text {
    background-color: rgb(224, 42, 42);
    color: rgb(10, 3, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}